* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f55a5a;
  margin-bottom: 45px;
}

.header-icon {
  color: #fff;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}

.header-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 18px;
  letter-spacing: -0.075em;
  padding: 50px 4px;

  color: #ffffff;
}

.card-container {
  display: flex;
  margin: 36px 40px;
}
